.navbar-flat {
    border-radius: 0;
    background-color: #1abc9c;
}
.navbar-fixed-bottom {
    background-color: #1abc9c;
    color: #fff;
}
html{
    background-color: #f0f0f0;
}
body {
    /*background: url('/img/landing-bg3_bw.png');*/
    background-size: 100%;
    background: transparent;
    background-color: #f0f0f0;
}
body:after {
    content: "";
    /*background: url("../img/landing-bg3_bw.png");*/
    background-size: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.landing-container { color: #7f8c8d; text-align: center;}

.chart_labels p span { font-size: 18px;}
h1, h2, h3, h4, h5, h6, hr { color: #1abc9c}
.landing-container hr { border-top: 1px solid #1abc9c !important;}
.form-container {
    background-color: #ecf0f1;
    border-color: #e5e9ea;
    border-width: 2px;
    padding: 6px 9px;
    border-radius: 4px;
}
