.mini_bar_chart {float: right;}
.mini_bar_chart .chart_bar {
    float: left;
    height: 5px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
.chart_labels { text-align: right;}


#head-nav.navbar {    background-color: #1abc9c;  color:#fff; }
.navbar-default .navbar-nav > li > a { color: #fff; }
.navbar-default .navbar-nav > .dropdown > a .caret { color: #fff; border-bottom-color: #fff;
    border-top-color: #fff;}
.project-table .progress-bar-success {background-color: #2ecc71;}
.project-table .progress-bar-warning {background-color: #f1c40f;}
.project-table .progress-bar-danger {background-color: #c0392b;}

.project-table .label-success {background-color: #2ecc71;}
.project-table .label-warning {background-color: #f1c40f;}
.project-table .label-error {background-color: #c0392b;}

.project-table .color-success {color: #2ecc71 !important; font-weight: bold;}
.project-table .color-healthy {color: #2ecc71 !important; font-weight: bold;}
.project-table .color-warning {color: #f1c40f !important; font-weight: bold;}
.project-table .color-error {color: #c0392b !important; font-weight: bold;}

.color-success {color: #2ecc71 !important; font-weight: bold;}
.color-healthy {color: #2ecc71 !important; font-weight: bold;}
.color-warning, .color-warnings {color: #f1c40f !important; font-weight: bold;}
.color-error, .color-errors  {color: #c0392b !important; font-weight: bold;}

.counters table tr:nth-child(2n) { background: none; }
.counters table h4 { margin: 0;}

.project-table .issue-porlet { margin-bottom: 0 !important;}
.project-table .issue-porlet.danger .header{ background-color: #c0392b;}

.project-table .items td p span { font-size: 18px !important;}
.project-table .items td.grade { font-size: 18px !important;}

.project-table .issue-porlet .content { padding: 0;}

#connect-list th { font-weight: bold; color:#fff;}
#connect-list thead { background-color: #1abc9c; }

.block-flat { min-height: 270px; margin-bottom: 0; }

.block-flat.closed {
    min-height: 27px;
}